@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --champagne-light: rgb(250 247 232);
  --champagne-dark: rgb(215 200 163);
  --background: var(--champagne-dark);
  --foreground: #3b362f;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.champagne-gradient {
  background: linear-gradient(
    to bottom,
    var(--champagne-light) 10%,
    var(--champagne-dark) 90%
  );
}

p {
  @apply mb-8;
}
