.field {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -40;
}

.ballContainer {
  position: absolute;
  animation-duration: 16s;
  animation-iteration-count: infinite;
}

.ball {
  width: 48px;
  height: 48px;
  display: block;

  filter: blur(2px);
  content: "";
  border-radius: 100%;
  background-color: rgb(127 163 191 / 0.6);
  mix-blend-mode: color-dodge;
  position: absolute;
  animation-duration: 16s;
  animation-iteration-count: infinite;
}

.animateX0 {
  animation-name: xAxis0;
}

.animateY0 {
  animation-name: yAxis0;
}

.animateX1 {
  animation-name: xAxis1;
}

.animateY1 {
  animation-name: yAxis1;
}

.animateX2 {
  animation-name: xAxis2;
}

.animateY2 {
  animation-name: yAxis2;
}

@keyframes yAxis0 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateY(0px);
  }
  50% {
    animation-timing-function: ease-in-out;
    transform: translateY(50px);
  }
  100% {
    animation-timing-function: ease-in-out;
    transform: translateY(0px);
  }
}

@keyframes xAxis0 {
  0% {
    /* animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64); */
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }
  25% {
    /* animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64); */
    animation-timing-function: ease-in-out;
    transform: translateX(20px);
  }
  50% {
    /* animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64); */
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }
  75% {
    /* animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64); */
    animation-timing-function: ease-in-out;
    transform: translateX(-20px);
  }
  100% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }
}

@keyframes xAxis1 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }
  100% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }
}

@keyframes yAxis1 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateY(0px);
  }
  50% {
    animation-timing-function: ease-in-out;
    transform: translateY(100px);
  }
  100% {
    animation-timing-function: ease-in-out;
    transform: translateY(0px);
  }
}

@keyframes xAxis2 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }
  100% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }
}

@keyframes yAxis2 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateY(0px);
  }
  50% {
    animation-timing-function: ease-in-out;
    transform: translateY(20px);
  }
  100% {
    animation-timing-function: ease-in-out;
    transform: translateY(0px);
  }
}
