.glowButton {
  border: solid 1px var(--champagne-dark);
  box-shadow: 0 0 2rem #fff, 0 0 2px #fff, inset 0 0 8px #fff;
  background-color: var(--champagne-dark);
  color: var(--foreground);
  transition: background-color ease-in-out 0.2s;
}

.glowButton:hover {
  background-color: var(--champagne-darker);
  color: var(--foreground);
}
